%card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &-rounded {
    border: {
      radius: 5px;
    }
  }
}

.button {
  &--success {
    @extend %button;
    background-color: $green;
    &:hover {
      background-color: $deepGreen;
    }
  }
  &--danger {
    @extend %button;
    background-color: $red;
  }
  &--warning {
    @extend %button;
    background-color: $orange;
  }
}

.login--card {
  @extend %card-rounded;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  background-color: $white;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.25rem;
  margin: 2rem;
}
.note-thumbnail {
  display: flex;
  flex-flow: column nowrap;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

// tablets
@media only screen and (min-width: 768px) {
}

// desktops and laptops
@media only screen and (min-width: 992px) {
  .login--card {
    flex-flow: row nowrap;
    height: 70vh;
    & > section {
      margin: 1rem;
    }
  }

  #login--card__right {
    border-right: 1px solid $black;
    padding: 1rem;
  }

  .footer {
    flex-flow: row wrap;
  }

  .note-thumbnail {
    width: 32%;
  }
}
