.main-nav {
  grid-area: nav;
  position: fixed;
  // background-color: $lightPurple;
}

.main-content {
  grid-area: content;
}

.main-settings {
  grid-area: settings;
}

.main-footer {
  grid-area: footer;
  background-color: $white;
  margin: 0;
  text-align: center;
  padding: 1rem;
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas: "nav" "content" "settings" "footer";
}

.notes-content {
  display: grid;
  min-height: 80vh;
  margin: 0.5rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}

.todos-content {
  display: grid;
  min-height: 80vh;
  margin: 0.5rem;
  gap: 1rem;
}

// tablets
@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "nav content content" "settings content content" "footer footer footer";
  }
}

// desktops and laptops
@media only screen and (min-width: 992px) {
  .wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "nav content settings" "footer footer footer";
  }

  .nav {
    @include flexContainer(column nowrap);
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    & > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      & > li a {
        display: block;
        padding: 0.75rem;
        text-decoration: none;
        color: $penBlue;
        font: {
          size: 1.2rem;
          weight: bold;
        }
        &:hover {
          background-color: $greyScale;
        }
      }
    }
  }
}
