// colours
$white: #ffffff;
$grey: #e4e4e4;
$greyScale: #d3d3d3;
$black: #000000;
$lightRed: #ff5151;
$red: #ff1414;
$deepRed: #cc0000;
$lightorange: #ff9138;
$orange: #ff8018;
$deepOrange: #ff7504;
$lightGreen: #00cc1b;
$green: #008812;
$deepGreen: #006b0e;
$penBlue: rgb(0, 91, 228);
$lightPurple: #d15cff;
$purple: #c228ff;
$deepPurple: #b700ff;
